.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px;
    box-shadow: 0 1px 3px -2px black;
    margin-bottom: 1px;
    background: white;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .brand-name {
    width: 100px; /* Adjust width as needed */
    height: 40px;
    margin-left: 10px; /* Add spacing between the logo and brand name */
  }
  
  .nav-logo {
    width: 70px;
  }
  
  .nav-profile {
    width: 75px;
  }
  
  @media (max-width: 800px) {
    .navbar {
      padding: 15px 30px;
    }
  
    .nav-logo {
      width: 150px;
    }
  
    .nav-profile {
      width: 60px;
    }
  }
  